<%= render 'layouts/flash_messages' %>

<div class="toppage">
<%= render 'layouts/flash_messages' %>
<div class="main-container">
  <h1>CodeMemory</h1>
  <p>競プロプレイヤーの復習をサポートするサービスです</p>
</div>
</div>

<h1>CodeMemoryとは?</h1>
<p>「復習のために競プロの記録を付けたい!」
    「自分用に競プロのアウトプットがしたい!」
    ような競技プログラミングプレイヤーのための復習ツールです。
</p>

<h1>どんな機能があるの？</h1>
「解いたコードを保存したい」「使ったメモも一括で保存しておきたい」
1.解いた問題の投稿
→コードは勿論のこと、メモ画像も保存できる！

「自分なりに
2.解いた問題に対するコメント機能
→アウトプットにより問題に対する定着率がup!
 Tex対応のため数式も書けるので自分なりの解説が書けます!

「動的計画法だけのリスト作りたいな」
3.タグ付け機能
→分野や得意不得意など自分なりに問題を類別できる！！

「１週間前何やったっけ？」「苦手な問題だけ表示したい」
4.問題の検索機能
→問題名だけでなく,正誤、投稿日,タグなどでも検索できる！
アウトプット機能
