<h1>詳細</h1>
<p>問題名<%= @post.question_name %></p>
<p>コード<%= @post.code%></p>
<p>コメント<%= @post.comment%></p>
<% @post_tags.each do |tag|%>
  <p>タグ<%= tag.name %></p>
<% end %>

<% if @post.correct==1%>
  <p>正誤:AC</p>
<% elsif @post.correct==2%>
  <p>正誤:解説AC</p>
<% elsif @post.correct==3%>
  <p>正誤:WA</p>
<%end%>