/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap/scss/bootstrap';

$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/regular';
/* 以上を追加 */

.table {
  padding: 10px;
  margin: 10px;
}
.field_with_errors {
  display: contents;

  input {
    border: 2px solid red;
  }
}

.base-container {
  @extend .container-fluid;
  padding: 30px 15px;
}

body {
  padding-top: 56px;
}

.navbar-brand {
  font-size: 25px;
}

.hljs {
  padding: 0.5em 1em;
}
pre {
  position: relative;
  margin-top: 1em;
}
code {
  font-size: 1.4rem;
  line-height: 1.4;
}

#selectPre {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  font-size: 14px;
  background-color: #888888;
  color: #fff;
}

.box {
  position: relative;
  border: solid 3px #0000cd;
  border-radius: 15px;
}

.box-title {
  position: absolute;
  top: 0px;
  left: 0px;
  font-weight: bold;
  background-color: white;
  transform: translateY(-55%) translateX(1em);
}

.box p {
  margin: 5px;
  padding: 5px;
}

.show-top {
  left: 10px;
  font-weight: bold;
}

.contest-name {
  width: 300px;
  height: 38px;
}

.contest-number {
  width: 180px;
  height: 38px;
}

.question-name {
  width: 300px;
  height: 38px;
}

.submit-code {
  width: 1000px;
  height: 2000px;
}

.correct {
  width: 180px;
  height: 38px;
}

.form-group p {
  font-size: 12px;
}

h1 {
  font-weight: bold;
}
