.wrapper {
  width: 100%;
  height: 800px;
  background-image: url('/images/pexels-kevin-ku-577585.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top: 20px;
  overflow: hidden;
  .br-sp {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    height: 500px;
    overflow: hidden;
    .br-pc {
      display: none;
    }
  }
}

.wrapper .title {
  color: #ffffff;
  position: relative;
  top: 100px;
  text-align: center;
  font-size: 500%;
  font-family: Helvetica;
  font-style: oblique;
}

@media screen and (max-width: 480px) {
  .wrapper .title {
    font-size: 300%;
  }
}

.wrapper .phrase {
  color: #ffffff;
  position: relative;
  top: 110px;
  text-align: center;
  font-size: 150%;
}

@media screen and (min-width: 480px) {
  .br-sp {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .wrapper .phrase {
    font-size: 100%;
  }
}

.wrapper .top-botton {
  margin-top: 10px;
  position: relative;
  top: 200px;
  text-align: center;
}

.content {
  margin-top: 20px;
}

.content .content_title {
  text-align: center;
  font-size: 200%;
  font-family: Helvetica;
  border-top: solid 3px #364e96;
  border-bottom: solid 3px #364e96;
}

@media screen and (max-width: 480px) {
  .content .content_title {
    position: relative;
    text-align: center;
    font-size: 100%;
  }
}

.card {
  margin: 5px auto;
}

.card-img-top {
  max-width: 100%;
  flex-shrink: 0;
}

.card-body {
  max-width: 100%;
  flex-shrink: 0;
}

.bottom p {
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
}

.bottom .bottom-botton {
  text-align: center;
  margin-bottom: 30px;
}

.card-text {
  font-size: larger;
}
